html
    head 
        if pageTitle 
            title #{title}
        else 
            title Our app
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/styles/materialize.css', type='text/css', media='screen,projection')
        link(rel='stylesheet', href='/styles/main.css')
    
    body
        script(src='/scripts/constants.js')
        block header
            ul#dropdown1.dropdown-content
                li
                    a(href='setting_profile') Setting
                li
                    a#signOut(href='sign_out') Log out
            nav.teal.lighten-2
                .nav-wrapper
                    a.brand-logo(href='/') Gallery
                    a.sidenav-trigger(href='#' data-target="mobile-demo")
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li#btnAddImage
                            a(href='upload_image') Add photo
                        li#btnChat
                            a(href='chat') Chat
                        li#btnSignUp
                            a(href='sign_up') Sign up
                        li#btnSignIn
                            a(href='sign_in') Sign in
                        li#btnMyProfile
                            a.dropdown-trigger(href='#' data-target='dropdown1') My profile
                                i.material-icons.right arrow_drop_down
            ul#mobile-demo.sidenav
                li#btnAddImage
                    a(href='upload_image') Add photo
                li#btnChat
                    a(href='chat') Chat
                li#btnSignUp
                    a(href='sign_up') Sign up
                li#btnSignIn
                    a(href='sign_in') Sign in
                li#btnMyProfile
                    a.dropdown-trigger(href='#' data-target='dropdown1') My profile
                        i.material-icons.right arrow_drop_down
        main.container.colum 
            .main
                block content
        footer.page-footer.teal.lighten-3
                .container
                    .row
                        .col.l6.s12
                            h5.white-text Here can be your advertising.
                            p.grey-text.text-lighten-4 Thanks for using our app &#9786
                            p.grey-text.text-lighten-4 &copy; 2022

        block scripts 
            script(type='text/javascript', src='/scripts/materialize.js')
            script(src='/scripts/index.js')
