extends layout.pug 

block content
    .form
        h5 Sign in
        .row
            form.col.s10
                .row
                    .input-field.col.s10
                        input#name_user2.validate(type='text')
                        label(for='name_user2') Name
                .row
                    .input-field.col.s10
                        input#password2.validate(type='password')
                        label(for='password2') Password
                button#submit_login.btn Sign in
    script(src='/scripts/sign_in.js')