extends layout.pug

block content
    .form
        h5 Sign up
        .row
            form#form_sign_up.col.s10
                .row
                    .input-field.col.s10
                        input#name_user.validate(type='text' name='name_user')
                        label(for='name_user') Name
                .row
                    .input-field.col.s10
                        input#password.validate(type='password' name='password')
                        label(for='password') Password
                .row
                    .input-field.file-field.col.s10
                        .btn-small
                            span Add avatar
                            input(type='file' name='avatar')
                        .file-path-wrapper
                            input#avatarImage.file-path.validate(type='text' placeholder='Choose your photo')
                input#submit_signup.btn(type='submit' value='Sign up')
    script(src='/scripts/sign_up.js')
