extends layout.pug

block content
    .containerUpload
        .form
            h5 Add photo
            .row
                form.col.s10.form-upload(action='/image/upload' enctype='multipart/form-data' method='POST')
                    .row
                        .input-field.col.s10
                            input#name_pets.validate(type='text' name='petName')
                            label(for='name_pets') Name pets
                    .row
                        .input-field.file-field.col.s10
                            .btn
                                span File
                                input(type='file' name='multipleFiles')
                            .file-path-wrapper
                                input#nameImage.file-path.validate(type='text' placeholder='Upload photo')
                    input#upload.waves-effect.waves-light.btn.send-image(type='submit' value='Upload')
    script(src='/scripts/upload_image.js')