extends layout.pug

block content
    .containerUpload
        .form
            h5 Add photo
            .row
                form#form_upload.col.s10.form-upload
                    .row
                        .input-field.col.s10
                            input#caption.validate(type='text' name='caption')
                            label(for='caption') Write a caption
                    .row
                        .input-field.file-field.col.s10
                            .btn
                                span File
                                input(type='file' name='photo')
                            .file-path-wrapper
                                input#nameImage.file-path.validate(type='text' placeholder='Upload photo')
                    input#upload.waves-effect.waves-light.btn.send-image(type='submit' value='Upload')
    script(src='/scripts/upload_image.js')