node_modules/
.idea/
micro_services/gateway/public/images/users/*
!micro_services/gateway/public/images/users/.gitkeep
micro_services/gateway/public/images/gallery/*
!micro_services/gateway/public/images/gallery/.gitkeep